<h1 mat-dialot-title>{{ data.message }}</h1>
<div mat-dialog-content>
</div>
<div mad-dialog-actions>
  <button mat-button [mat-dialog-close]="false">NO</button>
  <button mat-button color="warn" [mat-dialog-close]="true">YES</button>
</div>
