<mat-card>
  <form (submit)="onAddPost()" [formGroup]="form">
    <mat-form-field>
      <input matInput  formControlName="title" name="title" type="text"  placeholder="Add your title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title!!</mat-error> 
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="content" name="content" rows="4" placeholder="Add your content" placeholder="Leave a comment"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a your content!!</mat-error> 
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="date" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date" name="date">
      <mat-error *ngIf="form.get('date').invalid">Please enter valid date!!</mat-error> 
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button  mat-raised-button color="accent" type="submit">Save</button>
  </form>
</mat-card>
